*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1::first-letter{
    color: brown;
    font-size: 2rem;
}

body{
    padding: 3rem;
}

img{
    width: 500px;
    transition: 100ms;
}

img:hover{
    transform: scale(1.1);
    border-radius: 100%;
}

button{
    width: 55px;
   
}

.primary-btn{
    background-color: aqua;
    color: aliceblue;
}

.secondary-btn{
    background-color: crimson;
    color: white;
}

.box{
    width: 400px;
    height: 400px;
    background-color: blue;
    border-radius: 10px;
    transition: 300ms;
}

.box:hover{
background-color: brown;
border-radius: 100%;
}

section .card-title{
    color: gold;
}

#main-logo{
    background-color: blue;
    padding: 2rem;
    color: white;
}

#special-title{
    color: brown;
}

